﻿/*
Theme Name: MyTree
Description: MyTree, vigilianty-generated Drupal theme.
Version: 1.0
Author: VIGILIANTY
Author URI: http://thebeeblogger.com/
*/

/* begin Page */

/* Generated version 2.1.0.16090, file checksum is C194EFE6. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #4A4A4A;
	background-image: url('images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
}

.Main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

.PageBackgroundGlare
{
	position: absolute;
	width: 100%;
	height: 567px;
	left: 0;
	top: 0;
}

.PageBackgroundGlareImage
{
	background-image: url('images/Page-BgGlare.png');
	background-repeat: no-repeat;
	height: 567px;
	width: 416px;
	margin: 0;
}

html:first-child .PageBackgroundGlare
{
	border: 1px solid transparent; /* Opera fix */
}


.PageBackgroundGradient
{
	position: absolute;
	background-image: url('images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 900px;
	
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:99px;
	min-height:99px;
}

.Sheet-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 110px;
	height: 110px;
	background-image: url('images/Sheet-s.png');
}

.Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 55px, 55px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 55px, 55px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(55px, 55px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(55px, auto, auto, 55px);
}

.Sheet-tc, .Sheet-bc
{
	left: 55px;
	right: 55px;
	height: 110px;
	background-image: url('images/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 55px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(55px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 55px;
	bottom: 55px;
	width: 110px;
	background-image: url('images/Sheet-v.png');
}

.Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 55px);
}

.Sheet-cl
{
	left:0;
	clip: rect(auto, 55px, auto, auto);
}

.Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 55px;
	left: 55px;
	right: 55px;
	bottom: 55px;
	background-image: url('images/Sheet-c.png');
}


.Sheet
{
	margin-top: 30px !important;
}

.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Header */
div.Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 984px;
	height: 225px;
}

div.Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 984px;
	height: 225px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 984px;
	height: 225px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
	display : block;
	position: absolute;
	left: 295px;
	top: 20px;
	width: 689px;
}

h1.logo-name
{
	display: block;
	text-align: left;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
	font-size: 72px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #0FAB07 !important;
}

.logo-text
{
	display: block;
	text-align: left;
}

.logo-text, .logo-text a
{
	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	padding:0;
	margin:0;
	color: #868686 !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 3px 3px 3px 3px;
}

.nav
{
	position: relative;
	height: 30px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 30px;
	background-image: url('images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 984px;
	clip: rect(auto, auto, auto, 984px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 24px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 4px;
	margin-left: 4px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 72px;
	background-image: url('images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:8px;
}

.artmenu a .r
{
	width:416px;
	right:0;
	clip: rect(auto, auto, auto, 408px);
}

.artmenu a .t 
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #DDEEC4;
	padding: 0 5px;
	margin: 0 8px;
	line-height: 24px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-24px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-24px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-24px;
}
.artmenu a:hover .t
{
	color: #F0F0F0;
}

.artmenu li:hover a .t
{
	color: #F0F0F0;
}

.artmenu li:hover>a .t
{
	color: #F0F0F0;
}


.artmenu a.active .l, .artmenu a.active .r
{
	top: -48px;
}

.artmenu a.active .t
{
	color: #D6D6D6;
}


/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	display: block;
	width: 1px;
	height: 24px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #F6FAEF;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #F2F2F2;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #F2F2F2;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #F2F2F2;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #F2F2F2;
}


/* end MenuSubItem */

/* begin ContentLayout */
.contentLayout
{
	position: relative;
	margin-bottom: 17px;
	width: 984px;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.Block-body
{
	position: relative;
	z-index:1;
	padding: 7px;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	position:absolute;
	z-index:-1;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/Block-s.png');
}

.Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.Block-tc, .Block-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/Block-h.png');
}

.Block-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.Block-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.Block-cr, .Block-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/Block-v.png');
}

.Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.Block-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.Block-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #474747;
}


.Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.BlockHeader .t
{
	height: 30px;
	color: #C2C2C2;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;
}

.BlockHeader .l, .BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.BlockHeader .l
{
	left:0;
	right:6px;
}

.BlockHeader .r
{ 
	width:984px;
	right:0;
	clip: rect(auto, auto, auto, 978px);
}





.header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url('images/BlockHeaderIcon.png');
	padding:0 0 0 21px;
	background-repeat: no-repeat;
	min-height: 14px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}



.BlockContent-body
{
	color:#CFCFCF;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.BlockContent-body a:link
{
	color: #BFDF90;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #9E9E9E;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #D1D1D1;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.BlockContent-body ul
{
	list-style-type: none;
	color: #B5B5B5;
	margin:0;
	padding:0;
}

.BlockContent-body li
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	text-decoration: none;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 13px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.Post-body
{
	position: relative;
	z-index:1;
	padding: 11px;
}

.Post-tr, .Post-tl, .Post-br, .Post-bl, .Post-tc, .Post-bc,.Post-cr, .Post-cl
{
	position:absolute;
	z-index:-1;
}

.Post-tr, .Post-tl, .Post-br, .Post-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/Post-s.png');
}

.Post-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.Post-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.Post-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.Post-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.Post-tc, .Post-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/Post-h.png');
}

.Post-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.Post-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.Post-cr, .Post-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/Post-v.png');
}

.Post-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.Post-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.Post-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #404040;
}


.Post
{
	margin: 5px;
}

/* Start images */
a img
{
	border: 0;
}

.article img, img.article
{
	border: solid 1px #363636;
	margin: 1em;
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
	background-color:Transparent;
}

.article th, .article td
{
	padding: 2px;
	border: solid 1px #696969;
	vertical-align: top;
	text-align:left;
}

.article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #DBEDC0;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #DBEDC0;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #D2E8B0;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #CCCCCC;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #999999;
}
/* end PostHeader */

/* begin PostMetadata */
.PostMetadataHeader
{
	padding:1px;
	background-color: #595959;
	border-color: #363636;
	border-style: solid;
	border-width: 1px;
}
/* end PostMetadata */

/* begin PostIcons */
.PostHeaderIcons
{
	padding:1px;
}

.PostHeaderIcons, .PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #EBEBEB;
}

.PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
	margin:0;
}

.PostHeaderIcons a:link
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #B6DA81;
}

.PostHeaderIcons a:visited, .PostHeaderIcons a.visited
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #B6DA81;
}

.PostHeaderIcons a:hover, .PostHeaderIcons a.hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	color: #ADADAD;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #C9C9C9;
}

.PostContent
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #C9C9C9;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #BBDD88;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #BBDD88;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #9E9E9E;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #999999;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #BBDD88;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #BBDD88;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #C9C9C9;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #C9C9C9;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #C9C9C9;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #B0B0B0;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.Post ol li, .Post ul ol li
{
	background: none;
	padding-left:0;
}

.Post ul li, .Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#CFCFCF;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		border:solid 1px #7A7A7A; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#595959;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin PostMetadata */
.PostMetadataFooter
{
	padding:1px;
	background-color: #595959;
	border-color: #363636;
	border-style: solid;
	border-width: 1px;
}
/* end PostMetadata */

/* begin PostIcons */
.PostFooterIcons
{
	padding:1px;
}

.PostFooterIcons, .PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	text-decoration: none;
	color: #C4C4C4;
}

.PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
	margin:0;
}

.PostFooterIcons a:link
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #B6DA81;
}

.PostFooterIcons a:visited, .PostFooterIcons a.visited
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #B6DA81;
}

.PostFooterIcons a:hover, .PostFooterIcons a.hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	color: #ADADAD;
}
/* end PostIcons */

/* begin Button */
.Button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:36px;
	margin:0;
	padding:0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.Button .btn
{
	display:block;
	position:relative;
	float:left;
	height: 36px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	color: #F6FAEF;
}

.Button .btn .t
{
	display:block;
	height: 36px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
	padding: 0 26px;
	line-height: 36px;
	text-decoration: none !important;
}

input, select
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.Button .hover, .Button:hover
{
	color: #E5E5E5;
	text-decoration: none !important;
}

.Button .active
{
	color: #F0F0F0;
}

.Button .btn .l, .Button .btn .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 108px;
	background-image: url('images/Button.png');
}

.Button .btn .l
{
	left:0;
	right:18px;
}

.Button .btn .r
{
	width:425px;
	right:0;
	clip: rect(auto, auto, auto, 407px);
}

.Button .btn.hover .l, .Button .btn.hover .r, .Button .btn:hover .l, .Button .btn:hover .r
{
	top: -36px;
}

.Button .btn.active .l, .Button .btn.active .r
{
	top: -72px;
}


/* end Button */

/* begin Footer */
.Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 984px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.Footer .Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 984px;
	height: 150px;
	bottom:0;
	left:0;
}


.rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 32px;
	width: 25px;
}




.Footer .Footer-text p
{
	margin: 0;
}

.Footer .Footer-text
{
	display:inline-block;
	color:#C4C4C4;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.Footer .Footer-text a:link
{
	text-decoration: none;
	color: #B6DA81;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:visited
{
	text-decoration: none;
	color: #9E9E9E;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:hover
{
	text-decoration: none;
	color: #949494;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#A0CF59;
}

.page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#525252;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 738px;
}
.contentLayout .content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 983px;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 245px;
}
/* end LayoutCell */



/*
** HTML elements
*/
#footer
{
	text-align: center;
}

ul li 
{
	text-align: left;
	background-image: none;
	display: block;
}

li.expanded, li.leaf, li.collapsed
{
	list-style-type: none;
	list-style-image: none;
	background-image: none;
}

.tabs, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

.tabs li, .links li
{
	float: left;
	display: block;
	padding: 0 0 0 1em;
}

#user-login-form 
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left:0;
}

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid ;
	width: 95%;
}

fieldset legend 
{
	/* Fix disappearing legend in FFox */
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

.form-text, .form-textarea
{
	width: 95%;
	text-align: left;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

.messages li
{
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

.Footer .Footer-inner
{
	float: left;
	width: 100%;
}
